<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> {{ .Site.Title }} </title>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/foundation.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" type="text/css" media="screen">
	</head>

	<body>
		<div class="off-canvas-wrapper"> {{ "<!-- Definition of global off canvas wrapper -->" | safeHTML }}
				<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>	{{ "<!-- Definition of inner off canvas wrapper -->" | safeHTML }}
				
				{{ "<!-- Menu -->" | safeHTML }}
				<div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
        			<ul>
						{{ $currentNode := . }}
						{{ range .Site.Menus.main }}
          				<li><a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a></li>
						{{end}}
        			</ul>
				</div>	
						
				{{ "<!-- Page Content -->" | safeHTML }}
      			<div class="off-canvas-content" data-off-canvas-content>
					
					{{ "<!-- Foundation Mobile Menu -->" | safeHTML }}
					
					<div class="titlebar show-for-small-only">
						<div class="title-bar left">
							<button class="menu-icon" type="button" data-open="mobile-menu"></button>
							<span class="title-bar-title">MENU</span>
						</div>
					</div>

					{{ "<!-- Partials that make up the site -->" | safeHTML }}
		  			{{ partial "nav.html" . }}
		
					{{ partial "hero.html" . }}
		
					{{ partial "main.html" . }}
							
					{{ partial "footer.html" . }}
				</div> {{ "<!-- End page content menu wrapper -->" | safeHTML }}
		
			</div> {{ "<!-- End of global off canvas inner wrapper -->" | safeHTML }}
		</div> {{ "<!-- End of global off canvas wrapper -->" | safeHTML }}
		
		
		{{ "<!-- JS includes -->" | safeHTML }}
		
		<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
		<script src="{{ .Site.BaseURL }}js/what-input.js"></script>
		<script src="{{ .Site.BaseURL }}js/foundation.js"></script>
		<script src="{{ .Site.BaseURL }}js/app.js"></script>
		
	</body>
</html>
  
  
  
  